<hello name="{{ name }}"></hello>
<button (click)="postToken()">postToken</button>
<button (click)="getInfoComercio()">getInfoComercio</button>
<button (click)="getTiempoPreparacion()">
getTiempoPreparacion
</button>
<button (click)="putActualizarInformacionProducto()">
putActualizarInformacionProducto
</button>
<button (click)="putActualizarInformacionItemOpcionProducto()">
putActualizarInformacionItemOpcionProducto
</button>
<button (click)="getOpcionesProducto(producto,locationIdApi2)">
getOpcionesProducto
</button>
<button (click)="postCreacionActualizacionProductos()">
postCreacionActualizacionProductos
</button>
<button (click)="postActualizacionPrecios()">
* postActualizacionPrecios
</button>
<button (click)="postActualizacionInventario()">
* postActualizacionInventario
</button>
<button (click)="postPrecioProductosOtraMoneda()">
* postPrecioProductosOtraMoneda
</button>
<button (click)="putDesactivarProductosPorSKU()">
putDesactivarProductosPorSKU
</button>
<button (click)="putActualizarInformacionSucursal()">
putActualizarInformacionSucursal
</button>
<button (click)="getProductosPartnerSucursal()">
getProductosPartnerSucursal
</button>
<button (click)="postRealizarLlamadaACentral()">
postRealizarLlamadaACentral
</button>
<button (click)="getOrdenesPendientes()">
getOrdenesPendientes
</button>
<button (click)="getRazonesParaRechazarOrden()">
getRazonesParaRechazarOrden
</button>
<button (click)="putDespacharOrdenEnBaseId()">
* putDespacharOrdenEnBaseId
</button>
<button (click)="putRechazarOrdenEnBaseId()">
* putRechazarOrdenEnBaseId
</button>
<button (click)="putAceptarOrdenEnBaseId()">
* putAceptarOrdenEnBaseId
</button>
<button (click)="getProductosDeOrden()">
getProductosDeOrden
</button>
<button (click)="getInformacionDeOrdenPorID()">
getInformacionDeOrdenPorID
</button>
<button (click)="getWebhookSucursal()">
* getWebhookSucursal
</button>
<button (click)="postWebhookEnviarOrdenComercio()">
postWebhookEnviarOrdenComercio
</button>
<button (click)="putActualizarWebhookUrlPartner()">
putActualizarWebhookUrlPartner
</button>
<button (click)="deleteEliminarWebhook()">
deleteEliminarWebhook
</button>
<button (click)="postDetalleOrdenWebhook()">
postDetalleOrdenWebhook
</button>